.row{
    padding: 20px;
}
div{
background-color: #a1b5cb;
text-align: center;
}
@media (min-width:576px) {
#fotoPerfil{ 
position: absolute;
width:15%;
border-radius: 100%;
box-shadow:  3px 3px 3px grey;
left: 3%;
top: 565px;
}
}
@media (max-width: 575px) {
    #fotoPerfil{ 
    position: absolute;
    width:15%;
    border-radius: 100%;
    box-shadow:  3px 3px 3px grey;
    left: 43%;
    top: 850px;
    }
    }
    
    #nombre{
    font-weight: bold;
    margin-top: 30%;

    }