<div class="row">
    <h1>educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
        <ul>
            <li><h1>ingenieria en informatica</h1> - <h3>(years)</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non fugiat porro eum magni maxime sunt odio cupiditate itaque reiciendis, beatae perspiciatis quam! Veniam totam, optio iure magni officia dolore similique.</p>
        </ul>
        <ul>
            <li><h1>Bachiller en administracion de empresas</h1> - <h3>(years)</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non fugiat porro eum magni maxime sunt odio cupiditate itaque reiciendis, beatae perspiciatis quam! Veniam totam, optio iure magni officia dolore similique.</p>
        </ul>
    
                </div>
            </div>
    
            
