
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
    <img src="../../../assets/materiales para el proyecto/foto-perfil.jpeg" alt="foto-perfil" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  ">
    <p id="nombre">
        Perez Fabian Ariel
    </p>
    <p>
        Delevoper Full Stack Jr
    </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
        <span>
    <h1>acerca de mi</h1>
    <p>
        Me considero una persona
        proactiva, entusiasta con nuevos
        desafíos y con mucha voluntad
        para el aprendizaje.
        Compromiso, determinación y
        entusiasmo en el trabajo, son
        tres de los conceptos que uso
        para definirme y que puedo usar
        como valor diferencial.
    </p>
    
        </span>
    </div>
    
    
    </div>